*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("./images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 4%;
    height: 100vh;
    overflow: hidden;
}
.result-area{
    background-color: rgba(212, 211, 211, 0.644);
}